body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content-wrapper {
  margin-left: 0px !important;
}

.card {
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.loader-container {
  width: 100%;
  position: absolute;
  background: rgba(1, 1, 1, 0.5);
  height: 100%;
}

.mailbox-read-message {
  white-space: pre-wrap;
}
.card-header {
  width: 100%;
  padding: 0.7rem 1.25rem;
}

.card-header .btn.btn-block {
  font-weight: 400;
  padding: 0 .75rem;
}

.card-header .card-title.accordion__title {
  font-weight: 500;
}

.accordion .card-header:hover {
  background-color: #ccc;
}

.card-header-title {
  float: left;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}

.icheck-primary > input:first-child:checked+label::before,
[class*=icheck-] label::before {
  border-radius: 4px !important;
}

.note-editor.fullscreen {
  background-color: #fff;
}

.search-form-container {
  background-color: #fff;
  top: 32px;
  right: 0;
  z-index: 99;
}

.search-form-container .search-form-wrapper {
  padding: 16px;
}

.search-form-wrapper .form-group {
  display: flex;
  margin-bottom: 10px;
}

.form-group label {
  min-width: 100px;
  font-weight: 500 !important;
}

.form-group label.input-group-text {
  min-width: 50px !important;
}

.form-group input.form-control {
  height: 2rem;
}

.react-multi-select {
  width: 100%;
}

.react-multi-select.hide-select-list div[id*=-listbox] {
  display: none;
}

.files-container {
  display: flex;
  padding: 10px 0;
}

.files-container .file-wrapper {
  background: #a9adad;
  display: flex;
  padding: 5px 10px;
  border-radius: 4px;
  align-items: center;
  margin-right: 5px;
}

.files-container .file-wrapper i {
  margin: 3px 0px 0px 10px;
  cursor: pointer;
}

.react-sorting-select {
  position: absolute !important;
  max-width: 150px;
  width: 150px;
  top: 0;
  left: 100px;
}
